*
{
  box-sizing: border-box;
}

body 
{
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  height: 100vh; /* this is to make the body take the full height of the viewport (visible area of the browser window)*/
  display: flex;
  flex-direction: column;
  justify-content: center; /* this is to center the content horizontally */
  align-items: center; /* this is to center the content vertically */
  font-family: Inter;
}

#root 
{
  width: 100%; /* this is to make the root take the full width of the body */
  height: 100%; /* this is to make the root take the full height of the body */
  max-height: 800px;
  max-width: 800px;

}

main 
{
  background-color: #F5F5F5;
  height: 100%; /* this is to make the main take the full height of the root */
  border-radius: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}




